@import url('https://fonts.googleapis.com/css2?family=Rethink+Sans&display=swap');
@import url('https://fonts.cdnfonts.com/css/pokemon-solid');
body {
    margin: 0;
    font-family: 'Rethink Sans', sans-serif;
    padding: 0;
    overflow-y: hidden;
}
@media (max-width: 500px) {
    .wrapper .quiz-container {
        width: 100%;
        border-radius: 0;
    }
    .wrapper #nextBtn {
        width: 100%;
        border-radius: 0;
    }
    .wrapper #wrapperBot {
        width: 100%;
    }
}
.wrapper {
    position: absolute;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url('bg2.png');
    background-size: cover;
    background-repeat: no-repeat;
    object-fit: cover;
}
#wrapperTop {
    height: 10%;
}
#wrapperBot {
    height: 10%;
    width: 500px;
}
#nextBtn {
    width: 500px;
    border-style: none;
    border: 1px solid gray;
    border-radius: 10px;
}
.quiz-container {
    width: 500px;
    height: 80%;
    border-radius: 10px;
    text-align: center;
    padding: 0;
    display: flex;
    flex-direction: column;
    background: transparent;
    backdrop-filter: blur(50px);
}
.top {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 60%;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}
.bottom {
    height: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
button {
    color: #1A120B;
    font-size: large;
    letter-spacing: 2px;
    font-weight: bold;
    background-color: white;
    margin-top: 3px;
    margin-bottom: 3px;
    height: 50px;
    width: 85%;
    border-radius: 10px;
    border-style: none;
}
.bottom button:hover {
    background-color: rgba(255, 60, 60, 0.534);
    color: yellow;
}

.wrapper button:hover {
    background-color: rgb(255, 60, 60);
}
#question-container {
    display: flex;
    justify-content: center;
    width: 80%;
    height: 500px;
    border-radius: 20px;
    letter-spacing: 1px;
    font-size: 30px;
    padding-left: 10px;
    padding-right: 10px;
    margin: 0;
    word-wrap: break-word;
}
